header {
  background-color: 6B1C9B;
  color: white;
  height: 170px;
}
* {
  margin: 0;
  padding: 0;
}

.desc {
  max-width: 1200px;
  margin: o auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-left:890px;
}

nav ul {
  list-style-type: none;
  display:  flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 880px;
}

li{
  color: rgb(194, 189, 189);
  margin-left: 25px;
}

li a{
  text-decoration: none;
  color: black;
  font-family: Arial;
}


